<!--<ion-card  *ngFor="let post of posts" class="card-post">
        <ion-grid>
          <ion-row>
            <ion-col class="perfil">
              <br>
              <img src="{{post.avatarUser}}" alt="perfil" width="40px">
              <ion-text>
                <strong>{{post.usuario}}</strong>
              </ion-text>
            </ion-col>
            <ion-col size="1">
              <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <ion-card-content>
         <ion-slides [options]="slidepostsOpts" pager="true">
          </ion-slides>
          <img src="{{post.imagenPost}}" alt="" width="100%">
          <p>{{post.descripcion}}</p>

        </ion-card-content>

        <div class="footer">
          <div class="options">
            <ion-grid>
              <ion-row>
                <p>{{post.likes}} Me gusta</p>
                <ion-col size="11">
                  <app-likes (liked)="onPostLiked($event)" [post_back]="postB"></app-likes>

                  <ion-icon name="paper-plane-outline" class="item-post"></ion-icon>
                </ion-col>
                
                <ion-col size="1">
                  <ion-icon name="bookmark-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>

            
          </div>
          <div class="comment">
            <img src="../../assets/images/Main Avatar.png" alt="" width="20px">
            <ion-input placeholder="Escribir comentario"> </ion-input>
          </div>
            
        </div>

</ion-card>
-->

      